body {
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
}

.input-container {
  display: flex;
  margin-right: 12px;
}

.input-row {
  display: flex;
  margin-right: 10px; 
}

.algorithm-container {
  margin-right: 20px;
}

.line-container {
  border: 1px solid #000000;
  padding: 10px;
  margin-right: 20px; 
}